<div class="container" align=center>
        <ul class="pagination">
                <li><a href="?page=1&bloodSearch={{ raw_search_string }}"> &#x3c;&#x3c; </a></li>
                {% if contacts.has_previous %}
                        <li>
                        <a href="?page={{ contacts.previous_page_number }}&bloodSearch={{ raw_search_string }}"> &#x3c; </a>
                        </li>
                {% endif %}
                {% for page in pages %}
                        {% if page.1 %}
                        <li class="active"> <a href="#">{{ page.0 }}</a></li>
                        {% else %}
                        <li>
                        <a href="?page={{ page.0 }}&bloodSearch={{ raw_search_string }}">{{ page.0 }}</a>
                        </li>
                        {% endif %}
                {% endfor %}
                {% if contacts.has_next %}
                        <li>
                        <a href="?page={{ contacts.next_page_number }}&bloodSearch={{ raw_search_string }}"> &#62; </a>
                        </li>
                {% endif %}
                <li><a href="?page={{ max_page }}&bloodSearch={{ raw_search_string }}"> &#62;&#62; </a></li>
</div>  
