{% extends "base.html" %}

{% block head %}
<script>
        function make_user_disappear(id, contactId){
                $.post('/deactivate/', {contact_id:id}, function(){});
                $('.' + id).collapse('toggle');
        }
</script>


{% endblock %}

{% block content %}

<h1>{{ search }}</h1>

<div class="container">
        <div class="jumbotron">
                <div class="row">
                        <div class="col col-sm-6">
                                <label><h2>Blood Doner's Data</h2></label>
                        </div>
                        <div class="col col-sm-6 form-group">
                                <form class="navbar-form" role="search" method="GET" align="right" padding-bottom="20">
                                       <div class="selectContainer"> <label>Filter Doners By Blood Group : </label>
                                                <select name="bloodSearch" class="form-control">
                                                        {% for blood in blood_list %}
                                                        {% if blood.1  == current_blood_filter %}
                                                        <option value={{blood.0}} selected>{{ blood.1 }}</option>
                                                        {% else %}
                                                        <option value={{ blood.0 }}>{{ blood.1 }}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                </select>
                                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                </div>

                        </form>
                </div>
        </div>
</div>

</div>

{% include "head/misc/pagitation.html" %}

<div class="container">

        <div class="row list-group">
        <br>
        {% for contactlist in contactlists %}
        <div class="col-xs-12 col-sm-6 col-md-4">
                {% for contact in contactlist %}
                <div style="color:#666;"><div class="list-group-item">
                                <label><h4><i>Name</i> : {{ contact.doner.name }} </h4></label>
                                <p><i>Blood group</i> :  {{ contact.doner.blood_group }}</p>
                                <button class="btn btn-primary" type="button" 
                                        onclick="make_user_disappear(id='{{ contact.id }}')">Show Number</button>
                </div></div>
                <div id="{{ contact.id }}"  class="collapse {{ contact.id }}" style="color:gray">
                        <div class="panel panel-info">
                        <div class="panel-head">Phone Number :</div>
                        <div class="panel.body">{{ contact.number }}</div>
                        </div>
                </div>
        {% endfor %}
                </div>
                {% endfor %}
        </div>
</div>
{% include "head/misc/pagitation.html" %}

{% endblock %}
