<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Blood Database</title>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> --!>
        <link rel="stylesheet" href="{% static 'head/css/bootstrap.min.css' %}">
        <link rel="stylesheeet" href="{% static 'head/css/bootstrap-theme.min.css' %}">
        <style type="text/css">
            .paginatecus {background:navy;}
            .bs-example{
                margin: 20px;
            }
        </style>
        {% block head %}{% endblock %}
</head>
        <body>
                <nav class="navbar navbar-inverse navbar-fixed-top">
                        <div class="container-fluid">
                                <!--
                                        The top navigation bar
                                -->
                                <div class="row">
                                        <div class='col-xs-12 col-sm-9'>
                                                <div class="navbar-header">
                                                        <a class="navbar-brand" href="/blood/">Home</a>
                                                </div>
                                        </div>

                                                <div class="col-xs-0">
                                                </div>
                                </div>
                        </div>
                </nav>
                {% block content %}{% endblock %}
                <nav class="navbar navbar-inverse navbar-bottom">
                        <div class="container-fluid">
                                <!--
                                        The top navigation bar
                                -->
                                <div class="row">
                                        <div class='col-xs-12 col-sm-9'>
                                                <div class="navbar-header">
                                                        <a class="navbar-brand" href="">Inkwalkar</a>
                                                </div>
                                        </div>

                                                <div class="col-xs-0 col-sm-3">
                                                </div>
                                </div>
                        </div>
                </nav>
        </body>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        -->
        <script src="{% static 'head/js/jquery.min.js' %}"></script>
<script src="{% static 'head/js/bootstrap.min.js' %}"></script>
        <script>
                $('.selectpicker').selectpicker();
        </script>
</html>
